{% extends "genetron/base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.common.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.bootstrap.min.css')}}" rel="stylesheet">

<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/jszip.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/kendo.all.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/console.js')}}"></script>


{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>

    <!-- IGV CSS -->
    <link rel="stylesheet" type="text/css" href="https://igv.org/web/beta/igv.css">

    <!-- bam.css n - for demo only, NOT REQUIRED FOR IGV -->
    <link rel="stylesheet" type="text/css" href="css/bam.css">

    <!-- jQuery JS -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

    <!-- Bootstrap JS - for demo only, NOT REQUIRED FOR IGV -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- IGV JS-->
    <script type="text/javascript" src="https://igv.org/web/beta/igv-beta.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://igv.org/web/beta/igv-beta.css">



<div class="jumbotron">

    <div class="container">
        <h2>IGV.js embedded in a Bootstrap page opened on a BAM file.</h2>
    </div>
    <!-- container -->

</div>
<!-- jumbotron -->

<div class="container-fluid" id="igvDiv" style="padding:5px; border:1px solid lightgray"></div>


<script type="text/javascript">

    $(document).ready(function () {

        var div = $("#igvDiv")[0],
                options = {
                    showNavigation: true,
                    showRuler: true,
                    genome: "hg19",
                    locus: "chr8:128,747,267-128,754,546",
                    tracks: [
                        {
                            name: "Genes",
                            type: "annotation",
                            format: "bed",
                            sourceType: "file",
                            url: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz",
                            indexURL: "https://s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/refGene.hg19.bed.gz.tbi",
                            order: Number.MAX_VALUE,
                            visibilityWindow: 300000000,
                            displayMode: "EXPANDED"
                        }, {
                            url: "{{url_for('static', filename='igv/recal.bam')}}",
                            name: 'Brain (BodyMap)'
                        }

                    ]
                };

        igv.createBrowser(div, options);

    });

</script>

{% endblock %}