{% extends "bootstrap/base.html" %}

{% block title %}GenetronHealth BioInfo{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sb-admin/css/sb-admin-2.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<style> 
    img#logo{
     width:22%;
    }
    .nav a{
     font-size:16px;
    }
</style>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation" >
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button><a href="{{ url_for('genetron.index') }}"><img id='logo' src="{{ url_for('static', filename='fsz_logo.png') }}" alt="logo"></a>
            <a class="navbar-brand" href="{{ url_for('genetron.index') }}">BioInfo</a>
<!--              <a class="navbar" href="{{ url_for('genetron.index') }}">BioInfo</a> -->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('genetron.index') }}">主页</a></li>
                <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  样本库 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li ><a href="{{url_for('genetron.sample')}}">样本信息</a></li>
                    <li ><a href="{{url_for('genetron.sample_finish')}}">样本统计</a></li>
                    <li ><a href="{{url_for('genetron.unfinish')}}">未完成样本</a></li>
                     <li ><a href="{{url_for('genetron.pgm_submit')}}">PGM信息导入</a></li>
                </ul>
              </li>
                
                  <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  热点库 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li ><a href="#">建设中</a></li>
                </ul>
              </li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  小工具 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li ><a href="{{url_for('genetron.barcode')}}">条形码生成</a></li>
                </ul>
              </li>
                
                
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                 文档 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                   <li ><a href="{{url_for('genetron.help')}}">帮助文档</a></li>
                    <li ><a href="{{url_for('genetron.update')}}">更新日志</a></li>
                </ul>
              </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.can(Permission.MODERATE_COMMENTS) %}
                <li><a href="#{{ url_for('main.moderate') }}"></a></li>
                {% endif %}
                {% if current_user.is_authenticated %}


                <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> {{current_user.username}} <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ url_for('main.user', username=current_user.username) }}"><i class="fa fa-user fa-fw"></i>个人资料</a>
                </li>
                <li><a href="{{ url_for('auth.change_password') }}"><i class="fa fa-gear fa-fw"></i>修改密码</a>
                </li>
                 <li><a href="{{ url_for('genetron.my_work') }}"><i class="fa fa-gear fa-fw"></i>我的工作</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out fa-fw"></i>退出</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}?next={{request.url}}" >Log In</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div style="margin-bottom:60px"></div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}


