{% extends "genetron/base.html" %}

{% block head %}
{{ super() }}


<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>

{% endblock %}

{% block content %}
<div class='container'>

    <header class="post-header">
    
    <h2 class="post-title"> {{ doc.title }}</h2>

    <p class="post-meta">{{doc.user.username}} 创建于 {{doc.create_time | datetimeformat("%Y-%m-%d %H:%M:%S")}} 
        {% if doc.change_time%}
        最后一次修改：{{doc.change_time | datetimeformat("%Y-%m-%d %H:%M:%S")}} 
       {% endif %}
    </p>
</header>
<div class="article pure-u-22-24">
    {{ doc.body_html| safe }}
</div>
</div>
{% endblock %}

