{% extends "genetron/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}


<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>

{% endblock %}

{% block content %}
{{ super() }}
<div class='container'>
    {%for xx in items%}
    
    <header class="post-header">
    
    <h2 class="post-title"> </h2>

    <p class="post-meta"> {{xx.flowcell_id}} 
       
    </p>
</header>
    {% endfor %}
    
 {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'genetron.submit') }}
</div>
{% endif %}
    
     {{ wtf.quick_form(form) }}
</div>
{% endblock %}

