{% extends "genetron/base.html" %}

{% block head %}
{{ super() }}

<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.common.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.bootstrap.min.css')}}" rel="stylesheet">

<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/jszip.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/kendo.all.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/console.js')}}"></script>

{% endblock %}

{% block content %}

<style>
      html,
      body,
      #parent,
      #grid
      {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100%; /* DO NOT USE !important for setting the Grid height! */
      }

      html
      {
        overflow: hidden;
        font: 13px sans-serif;
      }

#grid{
 height:90%;
}

 #grid .k-grid-toolbar
                {
                  padding: .6em 1.3em;
                }
                .category-label
                {
                    vertical-align: middle;
                    padding-right: .5em;
                }
                #search
                {
                    vertical-align: middle;
                }
                .toolbar {
                    float: right;
                }
    </style>

 <div id='parent'>
     <div id="grid"></div> 
</div>

 <script type="text/x-kendo-template" id="template">

                <div class="toolbar">
                    <label class="category-label" for="category">Search:</label>
                    <input type="search" id="search" style="width: 150px"/>
                </div>
 </script>

<script>

var gridElement = $("#grid");


      function resizeGrid() {
        gridElement.data("kendoGrid").resize();
      }

    function toolbar_click() {
        var samples =  $("#grid").data("kendoGrid");
        grid.dataItems()
        
          console.log("Toolbar command is clicked!");
          return false;
}
    
    
 $(window).resize(function(){
        resizeGrid();
      });
                    $("#grid").kendoGrid({
                        toolbar: ["excel",
                                 
                                    {
                               template:kendo.template($("#template").html()),
                                    }
                                 ],
                        excel: {
                            allPages: true
                            },
                        dataSource: {
                            transport: {
                                read:  {
                                url: "/api/mut_info",
                                dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                }
                            },
                            schema: {
                            type: 'json',
                            data: "data",
                            total: function(data) {
                                return data.data.length;
                            },
                            model: {
                                
                                 fields: {
                                     sample_id: { type: "string" },
                                     name: { type: "string" },
                                     age: {type: "integer"},
                                     sex: {type: "string"},
                                     panel: {type: "string"},
                                     indication: { type: "string" },
                                     tumor_type: { type: "string" },
                                     tumor: { type: "string" },
                                     tissue: { type: "string" },
                                     accept_time: { type: "date" },
                                     finish_time: { type: "date" },
                                      gene_name: { type: "string" },
                                     mut_type: { type: "string" },
                                     cDNA_change: { type: "string" },
                                     aa_change: { type: "string" },
                                      freq: { type: "string" },
                                     dept: { type: "string" },
                                     doctor: { type: "string" },
                                     xiaoshou:{ type: "string" },
                                     
                                     
                                    }
                                }
                            },
                            sort: {
                                field: "class_time",
                                dir: "desc"
                            },
                            pageSize: 20,

                        },
     //                   height: 800,
                        scrollable: true,
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                   // startswith: "Starts with",
                                   // eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
                        },
                        filterable:true,
                        sortable:true,
                        pageable: true,
                        columns: [
                            {
                                field:"sample_id",
                                title: "ID",
                                width: 100,
                                filterable: true,
                                template: '<a href=\'{{url_for("genetron.sample_info")}}?id=#=sample_id#\'  target="_blank">#=sample_id#</a>'
                            },
                            {
                                field:"name",
                                title: "姓名",
                                width: 80,
                                filterable: true,

                            },
                            {
                                field:"panel",
                                title: "panel",
                                width: 120,
                                filterable: true,
                                

                            },
                            {
                                field:"indication",
                                title: "病理提示",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field:"tissue",
                                title: "组织",
                                width: 200,
                                filterable: true,

                            },
                            {
                                field:"tumor",
                                title: "癌种",
                                width: 100,
                                filterable: true,

                            },           
                            
                            {
                                field:"accept_time",
                                title: "收样时间",
                                width: 100,
                                filterable: true,
                                format: "{0:yyyy-MM-dd}",

                            },
                            {
                                field:"finish_time",
                                title: "交付时间",
                                width: 100,
                                filterable: true,
                                format: "{0:yyyy-MM-dd}",

                            },
                            {
                                field:"gene_name",
                                title: "基因",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field:"mut_type",
                                title: "突变类型",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field:"cDNA_change",
                                title: "cDNA_change",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field: "aa_change",
                                title: "aa_change",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field: "dept",
                                title: "医院-科室",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field: "doctor",
                                title: "医生",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field: "xiaoshou",
                                title: "销售",
                                width: 160,
                                filterable: true,
                               

                            }
                           
                           
                       ],
                    });

$("#search").keyup(function () {
    var val = $('#search').val();
    gridElement.data("kendoGrid").dataSource.filter({
        logic  : "or",
        filters: [
            {
                field   : "sample_id",
                operator: "contains",
                value   : val
            },
            {
                field   : "name",
                operator: "contains",
                value   : val
            }
        ]
    });
});
		
            </script>


    {% endblock %}

