{% extends "genetron/base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='datatable/css/jquery.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='datatable/css/dataTables.bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='datatable/css/buttons.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='datatable/css/select.dataTables.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='editor/css/editor.dataTables.min.css') }}">
<style>

    td.details-control {
    background: url('{{ url_for("static", filename="datatable/css/details_open.png") }}') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('{{ url_for("static", filename="datatable/css/details_close.png") }}') no-repeat center center;
}
</style>
{% endblock %}

{% block content %}

<div class="container-fluid" style="margin-top:80px">


    <!--display table table-striped table-bed hover-->
 <div class="panel panel-default">
                        <div class="panel-heading">
                            临床样本列表
                        </div>
     <div>
          <table id="example" class="display table  table-bordered hover" width="100%" cellspacing="0">
        <thead>
        <!--indication=None, start_time=None, dead_line=None,process=None, note=None):-->
        <!--self.patient_id-->
        <tr style="font-size:12px">
<!--             <th></th> -->
            <th>ID</th>
            <th>姓名</th>
            <!--<th>Age</th>-->
            <!--<th>Sex</th>-->
            <th>医院</th>
            <th>Panel</th>

            <th>索要病理</th>
            <th>病理提示</th>
            <th>癌种</th>
            <th>组织</th>
            <th>剩余</th>
<!--             <th>报告完成</th> -->
            <th>备注</th>
        </tr>
        </thead>

    </table>
     </div>
     </div>

</div>



<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/dataTables.bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.dataTables.min.js') }}"></script>

<script type="text/javascript"
        src="{{ url_for('static', filename='datatable/js/dataTables.buttons.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/dataTables.select.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editor/js/dataTables.editor.min.js') }}"></script>
<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script> -->
<!--<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/custom.js') }}"></script>-->


<script>
function format(d) {
    // `d` is the original data object for the row
    return '<table class="test" cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">'+
                  '<tr >'+
            '<td class="test">医院:</td>'+
            '<td class="test">'+d.hospital+'</td>'+
        '</tr>'+
	 '<tr >'+
            '<td class="test">项目启动日期:</td>'+
            '<td class="test">'+d.accept_time+'</td>'+
        '</tr>'+
	    '<tr >'+
            '<td class="test">项目截止时间:</td>'+
            '<td class="test">'+d.end_time+'</td>'+
        '</tr>'+

	    '<tr >'+
            '<td class="test">样本下机时间:</td>'+
            '<td class="test">'+d.xj_time+'</td>'+
        '</tr>'+
            '<tr >'+
            '<td class="test">样本分类时间:</td>'+
            '<td class="test">'+d.class_time+'</td>'+
        '</tr>'+
        
        '<tr >'+
            '<td class="test">样本提交时间:</td>'+
            '<td class="test">'+d.submit_time+'</td>'+
        '</tr>'+
            '<tr >'+
            '<td class="test">生信完成时间:</td>'+
            '<td class="test">'+d.bioinfo_time+'</td>'+
        '</tr>'+
        '</tr>'+
            '<tr >'+
            '<td class="test">生信报告时间:</td>'+
            '<td class="test">'+d.bioinfo_report_time+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>索要病理时间</td>'+
            '<td>'+d.ask_histology_time+'</td>'+
        '</tr>'+
        '<tr>'+
            '<td>病理更新时间</td>'+
            '<td>' + d.get_histology_time + '</td>'+
        '</tr>'+
           '<tr>'+
            '<td>报告完成时间</td>'+
            '<td>' + d.is_finish_time + '</td>'+
        '</tr>'+
    '</table>';
}

var editor; // use a global for the submit and return data rendering in the examples
$(document).ready(function() {

    editor = new $.fn.dataTable.Editor( {
        ajax: "{{ url_for('genetron.sample_response') }}",
        table: "#example",
        fields: [
    
             {
                label: "索要病理:",
                name: "ask_histology",
                type:  "radio",
                options: [
                    { label: "否", value: '' },
                    { label: "是",  value: true }
                ],
                def: 0
            },
            {% if current_user.is_reporter() %}
            {
                label: "病理提示:",
                name: "indication"
            },
            {
                label: "组织:",
                name: "tissue"
            },
            {
                label:'癌种',
                name: "tumor"
            },
            {% endif %}
      
            // {
            //     label: "报告完成:",
            //     name: "is_finish",
            //     type:  "radio",
            //     options: [
            //         { label: "否", value: '' },
            //         { label: "是",  value: true }
            //     ],
            //     def: 0
            // },
            {
                label: "note:",
                name: "note"
            }

        ]
    } );

 $('#example').on( 'click', 'tbody>tr>td:not(:first-child)', function (e) {

        editor.bubble( this );

    } );



  var table =   $('#example').DataTable( {
        dom: "Bfrtip",
        ajax: "{{ url_for('genetron.sample_table') }}",
        // "order": [[ 11, 'asc' ], [ 5, 'desc' ],[ 10, 'asc' ]],
        "class": "center",
        "pageLength": 20,
        columns: [
          // {
          //       "className": 'details-control',
          //       "orderable":  false,
          //       "data": null,
          //       "defaultContent": ''
          //   },
 

              { data: null,
                class:'click',
                "render":function(data,type, row){

                    return '<a href="' + "{{url_for('genetron.sample_info')}}" + '?id=' +  data.sample_id +   '">' + data.sample_id + "</a>";
              }
            },
            { data: "name" },
            { data: "hospital_alias" },
            { data: "panel" },
            // {
            //     "class": "center",
            //     "data": "bioinfo",
            //     "render": function (val, type, row) {
            //         return val == true ? "是" : "否";
            //     }
            // },
            {
            "data": "ask_histology",
            "class": "center",
             "render": function (val, type, row) {
                    return val == true ? "是" : "否";
               }

            },
            { data: "indication" },
            { data: "tissue" },
            { data: "tumor" },
            { data: null,
                "render":function(data,type, row){
                    if(data.end_time == ''){
                        return 100;
                    }else{
                    
                    today = new Date()
                    end_time = new Date(data.end_time)
                    return Math.round((end_time-today)/(24*60*60*1000))
                    }
                }
            },
            // {
            //     "class": "center",
            //     "data": "is_finish",
            //     "render": function (val, type, row) {
            //         return val == true ? "是" : "否";
            //     }
            // },
            { data: "note" }

        ],
        select: true,
        buttons: [
           {% if current_user.is_administrator() %}
            { extend: "edit",   editor: editor },
            { extend: "remove", editor: editor }
            {% endif %}
        ]
    } );

} );


</script>

{% endblock %}

