{% extends "genetron/base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.common.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.bootstrap.min.css')}}" rel="stylesheet">
<style>
    table#check_table .short{
        width:`60%;
    }
   
     table#check_table .long{
        width:150px;
    }
    table#check_table .daterange{
        width:150px;
    }
    table#check_table {
   text-align: center;   
}
    </style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    患者基本信息
                </div>
                {% if sample.patient != None %}
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>患者信息: {{sample.patient.name}}</td>
                            <td>患者编号: {{sample.patient.patient_id}}</td>
                        </tr>
                        <tr>
                            <td>性别:{% if sample.patient.sex == 1 %}
                                男
                                {% else %}
                                女
                                {% endif %}
                            </td>
                            <td>年龄: {{sample.patient.age}}</td>
                        </tr>
                        <tr>
                            <td>既往诊断结果: {{sample.indication}}</td>
                            <td>既往治疗方案:</td>
                        </tr>
                        <tr>
                            <td>靶向药物服用史:</td>
                            <td>癌症家族史:</td>
                        </tr>

                    </table>
                </div>


            </div>
            {% endif %}
            <!-- /.panel -->
        </div>
    </div>


    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    样本基本信息
                </div>
                {% if sample.patient != None %}
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>肿瘤样本类型: {{sample.tumor_type}}</td>
                            <td>肿瘤样本采集部位: {{sample.tumor_pos}}</td>
                        </tr>
                        <tr>
                            <td>肿瘤采集日期: {{ sample.collect_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}
                            </td>
                            <td>肿瘤样本接受日期: {{ sample.accept_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>
                        </tr>
                        <tr>


                    </table>
                </div>


            </div>
            {% endif %}
            <!-- /.panel -->
        </div>
    </div>


    <!-- time -->

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    生物信息分析
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Flowcell_ID</th>
                            <th>Panel</th>
                            <th>下机时间</th>
                            <th>拆分时间</th>
                            <th>分类时间</th>
                            <th>提交时间</th>
                            <th>生信完成时间</th>
                            <th>生信报告时间</th>

                        </tr>
                        {% set flowcell_list=[] %}
                        {% for flowcell_index in sample.sample_flowcell.all() %}

                        <tr>
                            <td>{{ flowcell_index.flowcell.flowcell_id }}</td>
                            <td>{{ flowcell_index.panel }}</td>
                            <td>{{ flowcell_index.flowcell.xj_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>

                            <td>{{ flowcell_index.flowcell.cf_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>

                            <td>{{flowcell_index|get_item_time('class')}}</td>
                            <td>{{flowcell_index|get_item_time('submit')}}</td>
                            <td>{{flowcell_index|get_item_time('bioinfo_finish')}}</td>
                            <td>
                                {{flowcell_index|get_item_time('bioinfo_report')}}
                            </td>
                            <!--                                      <td>{{ flowcell_index.sample_time.filter_by(item_type='bioinfo_report').first().item_time|datetimeformat("%Y-%m-%d %H:%M:%S") if flowcell_index.sample_time.filter_by(item_type='bioinfo_report').first() != None}} </td> -->

                        </tr>
                         {% if flowcell_list.append( (flowcell_index.flowcell.flowcell_id, flowcell_index.panel) )  %} {% endif %}
                      
                        {% endfor %}

                    </table>
                </div>


            </div>
            <!-- /.panel -->
        </div>
    </div>

    <!-- check -->
    <script>
   
    
    
    
  
        
        
    </script>
    
    


    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    实验验证
                </div>
                
                <div class="panel-body">
                     <button class='btn btn-success' id='check_add'>Add</button>
                    <table class="table table-condensed" id='check_table' align="center">
                        <tr>
                            <th class="text-center short" >Flowcell</th>
                            <th class="text-center short">Panel</th>
                            <th class="text-center short">验证项目</th>
                            <th class="text-center short">验证基因</th>
                            <th class="text-center">申请时间</th>
                            <th class="text-center">反馈时间</th>
                            <th class="text-center">结果</th>
                            <th class="text-center">备注</th>

                        </tr>                       

                    </table>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    医学信息解读
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>报告初稿</th>
                            <th>报告完成时间</th>
                            <th>报告审核</th>
                            <th>报告审核时间</th>
                            <th>报告最终完成时间</th>

                        </tr>
                        {% for flowcell_index in sample.sample_flowcell.all() %}

                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
                        {% endfor %}

                    </table>
                </div>


            </div>
            <!-- /.panel -->


        </div>
    </div>

    
       <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    基因点突变、缺失、插入分析结果
                </div>
                
                <div class="panel-body">
                    <div id='snp_indel'> </div>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
    
    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="panel panel-info">
                <div class="panel-heading">
                    医学信息解读
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th >报告初稿</th>
                            <th>报告完成时间</th>
                            <th>报告审核</th>
                            <th>报告审核时间</th>
                            <th>报告最终完成时间</th>

                        </tr>

                        <tr>
                            <td>


                            </td>
                            <td>


                            </td>
                            <td></td>

                            <td></td>

                            <td></td>

                        </tr>
<tr>
      <td>

                            </td>
    <td></td>
</tr>
                    </table>
                </div>


            </div>
            <!-- /.panel -->


        </div>
    </div>


</div>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/jszip.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/kendo.all.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/console.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/people.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='genetron/js/sample_info.js') }}"></script>

<script>
 $("#snp_indel").kendoGrid({

                        dataSource: {
                            transport: {
                                read:  {
                                url: "{{ url_for('genetron.sample_table') }}",
                                dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                }
                            },
                            schema: {

                            type: 'json',
                            data: "data",
                            total: function(data) {
                                return data.data.length;
                            },
                            model: {
                                 fields: {
                                    
                                     panel: { type: "string" },
                                     gene: { type: "string" },
                                     refseq: { type: "string" },
                                     chrome: { type: "string" },
                                     start: { type: "string" },
                                     end: { type: "string" },
                                     cDNA_change: { type: "string" },
                                     aa_change: { type: "string" },
                                     mut_type: { type: "string" },
                                     t_freq: { type: "string" },
                                    
                                     
                                    }
                                }
                            },
                            sort: {
                                field: "gene",
                                dir: "desc"
                            },
                            pageSize: 5,



                        },
     //                   height: 800,
                        scrollable: true,
                        filterable: {
                            extra: false,
                            operators: {
                                string: {
                                    startswith: "Starts with",
                                    eq: "Is equal to",
                                    neq: "Is not equal to"
                                }
                            }
                        },
                        filterable:true,
                        sortable:true,
                        pageable: true,
                        columns: [
                        
                            {
                                field:"panel",
                                title: "panel",
                                width: 80,
                                filterable: true,

                            },
                            {
                                field:"gene_name",
                                title: "基因名称",
                                width: 120,
                                filterable: true,
                                

                            },
                            {
                                field:"refseq_id",
                                title: "转录本",
                                width: 160,
                                filterable: true,

                            },
                            {
                                field:"chrome",
                                title: "染色体",
                                width: 100,
                                filterable: true,

                            },
                            {
                                field:"start",
                                title: "起始位置",
                                width: 200,
                                filterable: true,

                            },
                            {
                                field:"end",
                                title: "终止位置",
                                width: 100,
                                filterable: true,

                            },
                            {
                                field:"cDNA_change",
                                title: "核苷酸变化",
                                width: 100,
                                filterable: true,
                               
                            },
                            {
                                field:"aa_change",
                                title: "氨基酸变化",
                                width: 160,
                                filterable: true,
                               

                            },
                            {
                                field:"t_freq",
                                title: "突变频率",
                                width: 160,
                                filterable: true,

                            },
                            
                           
                       ],
                    });

                function titleFilter(element) {
                    element.kendoAutoComplete({
                        dataSource: titles
                    });
                }

                function cityFilter(element) {
                    element.kendoDropDownList({
                        dataSource: cities,
                        optionLabel: "--Select Value--"
                    });
                    
                }


</script>

{% endblock %}

{% block scripts %}
{{supper}}


{% endblock %}