{% extends "genetron/base.html" %}

{% block content %}
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.common.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.rtl.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='kendo_ui/styles/kendo.dataviz.bootstrap.min.css')}}" rel="stylesheet">


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    患者基本信息
                </div>
                {% if sample.patient != None %}
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>患者信息: {{sample.patient.name}}</td>
                            <td>患者编号: {{sample.patient.patient_id}}</td>
                        </tr>
                        <tr>
                            <td>性别:{% if sample.patient.sex == 1 %}
                                男
                                {% else %}
                                女
                                {% endif %}
                            </td>
                            <td>年龄: {{sample.patient.age}}</td>
                        </tr>
                        <tr>
                            <td>既往诊断结果: {{sample.indication}}</td>
                            <td>既往治疗方案:</td>
                        </tr>
                        <tr>
                            <td>靶向药物服用史:</td>
                            <td>癌症家族史:</td>
                        </tr>

                    </table>
                </div>


            </div>
            {% endif %}
            <!-- /.panel -->
        </div>
    </div>


    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    样本基本信息
                </div>
                {% if sample.patient != None %}
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <td>肿瘤样本类型: {{sample.tumor_type}}</td>
                            <td>肿瘤样本采集部位: {{sample.tumor_pos}}</td>
                        </tr>
                        <tr>
                            <td>肿瘤采集日期: {{ sample.collect_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}
                            </td>
                            <td>肿瘤样本接受日期: {{ sample.accept_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>
                        </tr>
                        <tr>


                    </table>
                </div>


            </div>
            {% endif %}
            <!-- /.panel -->
        </div>
    </div>


    <!-- time -->

    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    生物信息分析
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <tr>
                            <th>Flowcell_ID</th>
                            <th>Panel</th>
                            <th>下机时间</th>
                            <th>拆分时间</th>
                            <th>分类时间</th>
                            <th>提交时间</th>
                            <th>生信完成时间</th>
                            <th>生信报告时间</th>

                        </tr>
                        {% set flowcell_list=[] %}
                        {% for flowcell_index in sample.sample_flowcell.all() %}

                        <tr>
                            <td>{{ flowcell_index.flowcell.flowcell_id }}</td>
                            <td>{{ flowcell_index.panel }}</td>
                            <td>{{ flowcell_index.flowcell.xj_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>

                            <td>{{ flowcell_index.flowcell.cf_time|datetimeformat("%Y-%m-%d %H:%M:%S") }}</td>

                            <td>{{flowcell_index|get_item_time('class')}}</td>
                            <td>{{flowcell_index|get_item_time('submit')}}</td>
                            <td>{{flowcell_index|get_item_time('bioinfo_finish')}}</td>
                            <td>
                                {{flowcell_index|get_item_time('bioinfo_report')}}
                            </td>

                        </tr>
                         {% if flowcell_list.append( (flowcell_index.flowcell.flowcell_id, flowcell_index.panel) )  %} {% endif %}
                      
                        {% endfor %}

                    </table>
                </div>


            </div>
            <!-- /.panel -->
        </div>
    </div>    
    
     <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    验证信息
                </div>
                
                <div class="panel-body">
                    <div id='check_info'> </div>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
           <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    基因点突变、缺失、插入分析结果
                </div>
                
                <div class="panel-body">
                    <div id='snp_indel'> </div>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
            <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    拷贝数分析结果
                </div>
                
                <div class="panel-body">
                    <div id='cnv'> </div>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
          <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    基因重排分析结果
                </div>
                
                <div class="panel-body">
                    <div id='sv'> </div>
                </div>


            </div>
            <!-- /.panel --> 
        </div>
    </div>
    
    
  
    
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading">
                    医学信息解读
                </div>
                <div class="panel-body">
                     <div id='report'> </div>
                </div>


            </div>
            <!-- /.panel -->


        </div>
    </div>

    
 
    
    
  


</div>
<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/jszip.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/kendo.all.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/console.js')}}"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='kendo_ui/js/people.js')}}"></script> -->

<script>
 $("#snp_indel").kendoGrid({
                        dataSource: {
                            transport: {
                                read:  {
                                url: '/api/snpindel/{{sample.sample_id}}',
                                dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                }
                            },
                            schema: {
                            type: 'json',
                            data: "data",
                            total: function(data) {
                                return data.data.length;
                            },
                            model: {
                                 fields: {
                                    
                                     panel: { type: "string" },
                                     gene: { type: "string" },
                                     refseq: { type: "string" },
                                     chrome: { type: "string" },
                                     start: { type: "string" },
                                     end: { type: "string" },
                                     cDNA_change: { type: "string" },
                                     aa_change: { type: "string" },
                                     mut_type: { type: "string" },
                                     t_freq: { type: "string" },
                                    }
                                }
                            },
                            sort: {
                                field: "gene",
                                dir: "desc"
                            },
                            pageSize: 5,
                        },
                        scrollable: false,
                        sortable:true,
                        pageable: true,
                        serverFiltering: false,
                        serverPaging: false,
                        serverSorting: false,
                        dataBound: function() {
                            console.log(this.dataSource.totalPages())
                            if (this.dataSource.totalPages() <= 1) {
                              this.pager.element.hide();
                             }
                         },
                        columns: [
                        
                            {
                                field:"panel",
                                title: "panel",
                                width: 80,

                            },
                            {
                                field:"gene_name",
                                title: "基因名称",
                                width: 100,
                                
                                
                                

                            },
                            {
                                field:"refseq_id",
                                title: "转录本",
                                width: 160,

                            },
                            {
                                field:"chrome",
                                title: "染色体",
                                width: 50,

                            },
                            {
                                field:"start",
                                title: "起始位置",
                                width: 100,

                            },
                            {
                                field:"end",
                                title: "终止位置",
                                width: 100,

                            },
                            {
                                field:"cDNA_change",
                                title: "核苷酸变化",
                                width: 100,
                               
                            },
                            {
                                field:"aa_change",
                                title: "氨基酸变化",
                                width: 120,
                               

                            },
                             {
                                field:"mut_type",
                                title: "突变类型",
                                width: 120,

                            },
                            {
                                field:"t_freq",
                                title: "突变频率",
                                width: 100,
                                template: '#=t_freq#%'

                            },
                            
                           
                       ],
                    });


    /// cnv
     $("#cnv").kendoGrid({
                        dataSource: {
                            transport: {
                                read:  {
                                url: '/api/cnv/{{sample.sample_id}}',
                                dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                }
                            },
                            schema: {

                            type: 'json',
                            data: "data",
                            total: function(data) {
                                return data.data.length;
                            },
                            model: {
                                 fields: {
                                    
                                     panel: { type: "string" },
                                     gene: { type: "string" },
                                     chrome: { type: "string" },
                                     start: { type: "string" },
                                     end: { type: "string" },
                                     fold: { type: "string" },
                                     cnv_type: { type: "string" }, 
                                    }
                                }
                            },
                            sort: {
                                field: "gene",
                                dir: "desc"
                            },
                            pageSize: 5,
                        },
                        scrollable: false,
                        sortable:true,
                        pageable: true,
                        dataBound: function() {
                            console.log(this.dataSource.totalPages())
                            if (this.dataSource.totalPages() <= 1) {
                              this.pager.element.hide();
                             }
                         },
                        columns: [                    
                            {
                                field:"panel",
                                title: "panel",
                                width: 80,
                            },
                            {
                                field:"gene_name",
                                title: "基因名称",
                                width: 100,
                            },
                          
                            {
                                field:"chrome",
                                title: "染色体",
                                width: 50,
                            },
                            {
                                field:"start",
                                title: "起始位置",
                                width: 100,
                            },
                            {
                                field:"end",
                                title: "终止位置",
                                width: 100,
                            },
                            {
                                field:"fold",
                                title: "变异倍数",
                                width: 100,                        
                            },
                             {
                                field:"cnv_type",
                                title: "变异类型",
                                width: 120,

                            },
                           
                            
                           
                       ],
                    });

         $("#check_info").kendoGrid({
                        dataSource: {
                             error: function (e) {
                                alert("Status: " + e.status + "; Error message: " + e.errorThrown );
                                console.log(e)
                            },
                            autoSync: false,
                            transport: {
                                read:  {
                                    url: '/api/check/{{sample.sample_id}}',
                                    dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                },
                                update: {
                                    url: '/api/check/{{sample.sample_id}}',
                                    type: 'post',
                                    dataType: "json",
                                },
                                destroy: {
                                    url: '/api/check/{{sample.sample_id}}',
                                    dataType: "json",
                                    type: 'delete'
                                },
                                create: {
                                    type: 'post',
                                    url: '/api/check/{{sample.sample_id}}',
                                    dataType: "json"
                                },
                                 parameterMap: function(data, operation) {
                                if (operation === "update" || operation === "create") {
                                    data.start_time = kendo.toString(kendo.parseDate(data.start_time), "s");
                                    if (data.end_time != ''){
                                        data.end_time = kendo.toString(kendo.parseDate(data.end_time), "s");
                                    }
                                    
                                }
                                return data;
                            }
                            },
                            batch: false,
                            schema: {
                                type: 'json',
                                data: "data",
                                total: function(data) {
                                    return data.data.length;
                                },
                            
                            model: {
                                id: "id",
                                fields: {
                                     id: {type: "numeric", nullable: true},
                                     flowcell_id: { type: "string", validation: { required: true } },
                                     panel: { type: "string", validation: { required: true } },
                                     gene: { type: "string", nullable: true },
                                     check_type: { type: "string" , nullable: true},
                                     start_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}", },
                                     end_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}", nullable: true },
                                     result: { type: "string", nullable: true },
                                     note: { type: "string", nullable: true },
                                    }
                                }
                            },
                            pageSize: 5,
                        },
                        toolbar: ["create"],
                        scrollable: false,
                        sortable:true,
                        pageable: true,
                        editable: "popup",
                        dataBound: function() {
                            if (this.dataSource.totalPages() <= 1) {
                              this.pager.element.hide();
                             }
                         },
                        columns: [
                            {
                                field:"flowcell_id",
                                title: "Flowcell",
                                width: 50,
                            },
                            {
                                field:"panel",
                                title: "panel",
                                width: 50,
                            },
                            {
                                field:"gene_name",
                                title: "基因名称",
                                width: 80,
                            },
                            {
                                field:"check_type",
                                title: "验证类型",
                                width: 100,
                            },
                            {
                                field:"start_time",
                                title: "开始时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                            {
                                field:"end_time",
                                title: "反馈时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                            {
                                field:"result",
                                title: "结果",
                                width: 100,
                            },
                            {
                                field:"note",
                                title: "备注",
                                width: 130,                        
                            },
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" },
                       ],
                    });
    
    $("#sv").kendoGrid({
                        dataSource: {
                            transport: {
                                read:  {
                                url: '/api/sv/{{sample.sample_id}}',
                                dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                }
                            },
                            schema: {

                            type: 'json',
                            data: "data",
                            total: function(data) {
                                return data.data.length;
                            },
                            model: {
                                 fields: {
                                    
                                     panel: { type: "string" },
                                     gene: { type: "string" },
                                     break_pos: { type: "string" },
                                     extron_pos: { type: "string" },
                                     freq: { type: "numeric" },
                                     
                                    }
                                }
                            },
                            sort: {
                                field: "gene",
                                dir: "desc"
                            },
                            pageSize: 5,
                        },
                        scrollable: false,
                        sortable:true,
                        pageable: true,
                        dataBound: function() {
                            console.log(this.dataSource.totalPages())
                            if (this.dataSource.totalPages() <= 1) {
                              this.pager.element.hide();
                             }
                         },
                        columns: [                    
                            {
                                field:"panel",
                                title: "panel",
                                width: 80,
                            },
                            {
                                field:"gene_name",
                                title: "基因名称",
                                width: 100,
                            },
                          
                     
                            {
                                field:"break_pos",
                                title: "融合基因转录本及断点位置",
                                width: 100,
                            },
                            {
                                field:"extron_pos",
                                title: "外显子",
                                width: 100,
                            },
                            {
                                field:"freq",
                                title: "频率",
                                width: 100,                        
                            },
                        
                           
                            
                           
                       ],
                    });
        
       function UserDropDownEditor(container, options) {
                    $('<input required name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            autoBind: false,
                            dataTextField: "user_name",
                            dataValueField: "user_id",
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: "/api/user/Reporter"
                                },
                            },
                        });
                }
    
    $("#report").kendoGrid({
                        dataSource: {
                            error: function (e) {
                                alert("Status: " + e.status + "; Error message: " + e.errorThrown );
                                console.log(e)
                                },
                            autoSync: false,
                            transport: {
                                read:  {
                                    url: '/api/report/{{sample.sample_id}}',
                                    dataType: "json" // "jsonp" is required for cross-domain requests; use "json" for same-domain requests
                                },
                                update: {
                                    url: '/api/report/{{sample.sample_id}}',
                                    type: 'post',
                                    dataType: "json",
                                },
                                destroy: {
                                    url: '/api/report/{{sample.sample_id}}',
                                    dataType: "json",
                                    type: 'delete'
                                },
                                create: {
                                    type: 'post',
                                    url: '/api/report/{{sample.sample_id}}',
                                    dataType: "json"
                                },
                                parameterMap: function(data, operation) {
                                    if (operation === "update" || operation === "create") {
                                        data.start_time = kendo.toString(kendo.parseDate(data.start_time), "yyyy-MM-dd HH:mm:ss");
                                        if (data.report_time != ''){
                                            data.report_time = kendo.toString(kendo.parseDate(data.report_time), "yyyy-MM-dd HH:mm:ss");
                                        }
                                        if (data.check_time != ''){
                                            data.check_time = kendo.toString(kendo.parseDate(data.check_time), "yyyy-MM-dd HH:mm:ss");
                                        }
                                        if (data.finish_time != ''){
                                            data.finish_time = kendo.toString(kendo.parseDate(data.finish_time), "yyyy-MM-dd HH:mm:ss");
                                        }
                                    
                                    }
                                    return data;
                                }
                            },
                            batch: false,
                            schema: {
                                type: 'json',
                                data: "data",
                                total: function(data) {
                                    return data.data.length;
                                },
                            
                            model: {
                                id: "id",
                                fields: {
                                     id: {type: "numeric", nullable: true},
                                     panel: { type: "string", validation: { required: true } },
                                     start_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}", },
                                     writer: {  nullable: false, },
                                     report_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}"},
                                     checker: {},
                                     check_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}", nullable: true },
                                     finish_time: { type: "date", format: "{0: yyyy-MM-dd HH:mm:ss}", nullable: true },
                                     note: { type: "string", nullable: true },
                                    }
                                }
                            },
                            pageSize: 5,
                        },
                        toolbar: ["create"],
                        scrollable: false,
                        sortable:true,
                        pageable: true,
                        editable: "popup",
                        dataBound: function() {
                            console.log(this.dataSource.totalPages())
                            if (this.dataSource.totalPages() <= 1) {
                              this.pager.element.hide();
                             }
                         },
                        columns: [
                            {
                                field:"panel",
                                title: "panel",
                                width: 50,
                            },
                            {
                                field:"start_time",
                                title: "开始时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                            {
                                field:"writer",
                                title: "初稿人",
                                width: 80,
                                editor: UserDropDownEditor,
                                // template: "#=writer.user_name#"
                            },
                            {
                                field:"report_time",
                                title: "初稿时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                            {
                                field:"checker",
                                title: "审核人",
                                width: 80,
                                editor: UserDropDownEditor,
                                // template: "#=checker.user_name#" 
                            },
                            {
                                field:"check_time",
                                title: "审核时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                            {
                                field:"finish_time",
                                title: "完成时间",
                                width: 150,
                                format: "{0: yyyy-MM-dd HH:mm:ss}"
                            },
                       
                            {
                                field:"note",
                                title: "备注",
                                width: 130,                        
                            },
                            { command: ["edit", "destroy"], title: "&nbsp;", width: "250px" },
                       ],
                    });
    
    
 

</script>

{% endblock %}

{% block scripts %}
{{supper}}


{% endblock %}