{% extends "genetron/base.html" %}
{% import "_macros.html" as macros %}
{% block head %}
{{ super() }}


<script type="text/javascript" src="{{ url_for('static', filename='datatable/js/jquery.js') }}"></script>

{% endblock %}

{% block content %}
     <div class='container'>
         <h2>更新日志</h2>
         
{%for xx in items%}
    
    <header class="post-header">
    
    <h4 class="post-title"> ## {{xx.create_time | datetimeformat("%Y-%m-%d %H:%M:%S")}} -- {{ xx.title }}</h4>

    {{xx.body_html| safe}}
       <p></p>
</header>
    {% endfor %}
    
 {% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'genetron.update') }}
</div>
 {% endif %}
</div>
{% endblock %}

